APP_NAME="SmartEdu"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/smartedu-api/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=smartedu_db
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=change_this_to_a_very_long_random_secure_string_in_production_2025
JWT_ALGO=HS256
JWT_EXPIRE=86400
